@using VTP2015.Helpers
@using VTP2015.ServiceLayer.Student.Models
@model VTP2015.Modules.Student.ViewModels.FileListViewModel[]

    @using (Html.BeginPanel("Mijn dossiers"))
    {
        <ul class="list-group">
            @foreach (var file in Model)
            {
                <li class="list-group-item">
                    @if (file.FileStatus != FileStatus.Submitted)
                    {
                        @Html.RouteLink(file.Description, new { controller = "Student", action = "File", fileId = file.Id })
                    }
                    else
                    {
                        @file.Description
                    }
                </li>
            }
        </ul>
        @Html.ActionLink("Nieuw dossier aanmaken", "NewFile", "Student", new { @class = "btn btn-success" })
    }