@using VTP2015.Entities
@using VTP2015.Helpers
@model VTP2015.Modules.Student.ViewModels.EvidenceListViewModel[]

<div id="bewijzenColumn" class="col-md-4 hide">
    @using (Html.BeginPanel("Bewijzen"))
    {
        var submitted = (FileStatus) ViewBag.FileStatus == FileStatus.Submitted;
        @Html.ShowBewijzenList(Model,!submitted,submitted)
    }
</div>
