body {
    
}

.center {
    width: 450px;
}

.checkbox label {
    padding-left: 0;
}

.checkbox {
    margin-left: 20px;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.panel-text {
    color: white;
}

.panel-success {
    border-color: #2c3e50 !important;
}

.btn-success {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-success:hover {
    color: #2c3e50;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.panel-success > .panel-heading {
    background-color: #2c3e50;
    border-color: #2c3e50 !important;
}

.panel-success-vtp {
    background-color: #18bc9c;
}

.panel-info-vtp {
    background-color: #3498db;
}

.panel-warning-vtp {
    background-color: #f39c12;
}

.panel-danger-vtp {
    background-color: #e74c3c;
}

.panel-fix {
    padding: 0;
}

#kader {
    width:100%;
    text-align: center;
}

#links {
    float:left;
    margin-left: 10px;
}

#rechts {
    float:right;
    margin-right: 10px;
    font-size: 13px;
}

#midden {
    margin:0 auto;
    margin-left: 5px;
}

#links-list {
    float:left;
    margin-left: 0px;
}

#rechts-list {
    float:right;
    margin-right: 10px;
    font-size: 13px;
}

#midden-list {
    margin:0 auto;
    margin-left: 10px;
}

li {
    cursor: pointer;
}

.approvedRow {
    background-color: #18bc9c;
}

.deniedRow {
    background-color: #e74c3c;
}

.untreatedRow {
    background-color: #f39c12;
}

.btn-default {
  color: #000000;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #000000;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.hidden {
    display: none;
}

.progress {
    margin-bottom: 0 !important;
}

.progress-bar {
    border-radius: 4px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.chart{
  color: #E7F7F5;
  text-align: center;
  font-family: 'Helvetica Neue', 'Arial';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
  vertical-align: top;
  position: relative;
  padding-top: 4px;
}

.chart span{
    display: block;
    font-size: 1em;
    font-weight: normal;
  }

.chart canvas{
    position: absolute;
    left: 0;
    top: -3px;
}

.cirlceNumber {
    width: 30px;
    height: 30px;
    visibility: visible;
    opacity:0;
    filter:alpha(opacity=0);
    z-index: -1;
}

.pb {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

h4, h3 {
    color: #2c3e50;
}

.h3 {
    font-size: 21px !important;
}

.semesterDiv {
    padding: 5px 0px;
}

.partimList {
    padding: 0px 18px;
    padding-top: 10px;
}