@{
    ViewBag.Title = "Docent";
}

<br/>

<div class="container body-content">
    <div class="container-fix">

        <div class="panel panel-info clearfix">
            <div class="panel-heading">
                <h3 class="panel-title">Docent</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-info" href="/Lecturer/OpenRequests">Openstaande aanvragen</a>
                <a class="btn btn-info" href="/Lecturer/Archive">Aanvraag archief</a>
                <a class="btn btn-info" href="/Lecturer/Partim">Partims verwijderen</a>

            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/lecturer")