@using System.Linq;

@model IQueryable<VTP2015.Modules.Lecturer.ViewModels.StudentListViewModel>
@{
    ViewBag.Title = "Lecturer";
}

<br/>

<div class="container">
    <div class="container">
        <div class="row" id="dossiers">
            @if (ViewBag.DocentHeeftAanvragen)
            {
                <div class="col-md-4">
                    @Html.Action("StudentListWidget")
                </div>
                <button onclick="hideStudentList()">Hide students</button>

                <div class="col-md-8">
                    @Html.Action("RequestListWidget")
                </div>
                <button onclick="hideRequestList()">Hide requests</button>
            }
            else
            {
                <h2 class="page-header">Er zijn geen openstaande aanvragen</h2>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/lecturer")