@using System.Linq;

@model IQueryable<VTP2015.Modules.Lecturer.ViewModels.StudentListViewModel>
@{
    ViewBag.Title = "Lecturer";
}

<br/>

<div class="container">
    <div class="container">
        <div class="row" id="dossiers">
            @if (ViewBag.DocentHeeftAanvragen)
            {
                <div class="col-md-4">
                    @Html.Action("StudentListWidget")
                </div>
                
                <div class="col-md-8">
                    @Html.Action("RequestListWidget")
                </div>
            }
            else
            {
                <h2 class="page-header">Er zijn geen openstaande aanvragen</h2>
            }

        </div>

@if (ViewBag.DocentHeeftAanvragen)
    {
        <div class="opinionButtons row">
            <input onclick="hideRequestList()" class="btn hideRequest" value="Hide requests" type="button">
            <input onclick="hideStudentList()" class="btn hideStudent" value="Hide students" type="button">
        </div>
    }
    </div>
</div>

@Scripts.Render("~/bundles/lecturer")