@model VTP2015.Modules.Admin.ViewModels.ConfigViewModel

<div class="col-md-6">
    <div class="panel panel-default clearfix">
        <div class="panel-body">
            <form id="config-form">
                @Html.EditorForModel()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="input-group">
                    <button type="button" class="btn btn-default">Wijzig</button>
                </div>
            </form>
        </div>
    </div>
</div>
