@model VTP2015.ViewModels.TrajectBegeleider.PdfViewModel


<h2>View</h2>

<div>
    <div>
        <p>
            @Html.DisplayNameFor(model => model.Naam)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Voornaam)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Tel)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Email)
        </p>
    </div>

</div>
