@using VTP2015.Helpers
@model VTP2015.ViewModels.Student.BewijsListViewModel[]

<div id="bewijzenColumn" class="col-md-4 hide">
    @using (Html.BeginPanel("Bewijzen"))
    {
        @Html.ShowBewijzenList(Model, true)
    }
</div>
