@using System.Linq;

@model IQueryable<VTP2015.ViewModels.Docent.StudentListViewModel>
@{
    ViewBag.Title = "Docent";
}

<br/>

<div class="container">
        <div class="container">
            <div class="row" id="dossiers">
                @if (ViewBag.DocentHeeftAanvragen)
                {
                    <div class="col-md-4">
                        @Html.Action("StudentListWidget")
                    </div>


                    <div class="col-md-8">
                        @Html.Action("AanvraagListWidget")
                    </div>
                }
                else
                {
                    <h2 class="page-header">Er zijn geen openstaande aanvragen</h2>
                }
            </div>
        </div>
</div>
@section scripts {
    <script type="text/javascript" src="@Url.Content("/scripts/docent/DocentBewijsViewScript.js")"></script>
}

